#homepageJumbo {
    background-color: white;
    border: 2px solid black;
    box-shadow: 3px 3px 5px -3px black;
    margin-top: 50px;
    text-align: center;
}

.searchMovieTitle {
    margin: 30px;
    text-align: center;
}

.searchBar {
    font-size: 30px;
    box-shadow: 1px 1px 4px 0px black;
    border-radius: 1.1rem;
}

.searchBtn {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 5px;
    font-size: 30px;
    right: 11px;
    z-index: 3;
}

.searchBtn:active {
    transform: scale(0.9);
}

.searchBtn:focus {
    outline: none;
}

.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
    border-top-right-radius: 1.1rem;
    border-bottom-right-radius: 1.1rem;
}

#loadingResults {
    margin-top: 5%;
    text-align: center;
    display: none;
    flex-direction: row;
    justify-content: center;  
}

.dot {
    /* display: none; */
    opacity: 0;
}